<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body bgcolor="cyan">
<h1>HDFC BANK, Bangalore</h1>
<table style="width:100%">
<table border="5">
<tbody>
<th>Available Branches</th>
<tr>
<td th:text="${a}"></td>
<td th:text="${b}"></td>
<td th:text="${c}"></td>
<td th:text="${d}"></td>
<td th:text="${e}"></td>
<td th:text="${f}"></td>
<td th:text="${g}"></td>
<td th:text="${h}"></td>
<td th:text="${i}"></td>
<td th:text="${j}"></td>
<td th:text="${k}"></td>
</tr>
</tbody>
</table>
</body>
</html>
